*{
    box-sizing: border-box;
}

body {
    font-size: 15pt;
    margin: 0;
    //width: 384px;
    background-color: lightgreen;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 364px;
}

h2{
    text-align: center;
}

.header {
    background-color: goldenrod;
    font-size: 30pt;
    text-align: center;
    height: 50px;
   //width: 100vw;
    width: 100%;
    margin-top: 0px;
    top: 0px;
}

#backgroundImage{
    width: 384px;
    position: fixed;
    background-repeat: repeat-y;
    width: 100%;
    z-index: -1;
}

.floatimg{
    background-color: none;
    border-radius: 5px;
    //margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.floatimg img{
    width:364px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subheader{
    //width: 100vw;
    width: 100%;
    height: 45px;
    background-color: darkgoldenrod;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 5;
    
}

.frontText{
z-index: -1;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    //padding: 5px;
    //border-radius: 5px;
    //margin-top: 10px;
    //margin-bottom: 10px;
}

.TextBox{
    width: 364px;
    margin: auto;
    padding: 5px;
    background-color: forestgreen;
    border-radius: 5px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TextBox-lv2{
    width: 300px;
    //margin: 10px;
    margin: auto;
    padding: 5px;
    background-color: #9BA65C;
    border-radius: 5px;
    text-align: justify;
    //float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quote{
    width: 364px;
    border: 4px double #5D7129;
    background-color: none;
    //opacity: 0.9;
    color: #404715;
    //margin: 10px;
    margin: auto;
    padding: 5px;
    background-color: #9BA65C;
    border-radius: 5px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sideBar{
    width: 37px; 
    height: 1135px;
    float: left; 
    background-color: forestgreen; 
    border: 1px solid black; 
    margin: 5px; 
    margin-top: 10px; 
    margin-left: 10px; 
    border-radius: 5px;
}

a{
    font-size: 20pt;
    margin-right: 5px;
    text-decoration: none;
}

.popup{
    position: fixed;
    bottom: 10px;
    right: 0;
    width: 300px;
    height: 120px;
    background-color: darkorange;
    text-align: center;
    padding-top: 50px;
    border-radius: 5px;
    
}

.popup a{
    font-size: 17pt;
    color: brown;
    text-decoration: underline;
    text-align: center;
}

.openPopup{
    animation-name: Popup;
    animation-duration: 2s;
}

.closePopup{
    animation-name: ClosePopup;
    animation-duration: 2s;
}

.closeBtn{
    position: absolute;
    right: 270px;
    bottom: 80px;
}

.cookies{
    width: 90%;
    height: 600px;
    position: fixed;
    top: 40px;
    right: 13.5px;
    background-color: gold;
    z-index: 10;
    text-align: center;
    padding: 5px;
    overflow: scroll;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black ;
}

button{
    padding: 5px;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    font-size: 15pt;
    background-color: seagreen;
    color: white;
}

/*#PopupCookies{
    width: 30px;
    height: 30px;
    font-size: 30pt;
    
} */

.openCookies{
    animation-name: OpenCookies;
    animation-duration: 3s;
}

.CloseCookies{
    animation-name: CloseCookies;
    animation-duration: 3s;
}

footer{
    //width: 100vw;
    width: 100%;
    background-color: olive;
    text-align: center;
}

footer a{
    color: brown;
    text-decoration: underline;
}

.hidden{
    display: none;
}

@keyframes Popup{
    0% {visibility: none; right: -300px; bottom: 0px;}
    100% {visibility: block; bottom: 0;
    right: 0;}
}

@keyframes ClosePopup{
    0% {visibility: block; bottom: 0px; right: 0px;}
    90% {visibility: none; right: -300px; bottom: 0px;}
    100% {visibility: none; right: -300px; bottom: 0px;}
}

@keyframes OpenCookies{
    0% {visibility: none; right: -360px; top: 70px; height: 5px;}
    40% {right: 0px; top: 70px; visibility: block;}
    60% {height: 3px; right: 13.5px;}
    100% {height: 600px;}
}

@keyframes CloseCookies{
    0% {visibility: block; height: 600px; top: 70px; right: 13.5px;}
    40% {height: 3px;}
    60% {height: 3px; right: 0px; visibility: none;}
    100% {height: 3px; visibility: none; right: -360px;}
}
