@media only screen and (max-width: 600px)
{
  .header {width: 6000px;}
}
@media only screen and (min-width: 600px)
{
  .header {width: 6000px;}
}
@media only screen and (max-width: 768px)
{
  .header {width: 768px;}
}
@media only screen and (max-width: 992px)
{
  .header {width: 992px;}
}
@media only screen and (max-width: 1200px)
{
  .header {width: 1200px;}
}
