/*@media only screen and (max-width: 600px)
{
  .header {width: 100vw;}
  .subheader {width: 100vw;}
}
@media only screen and (min-width: 600px)
{
  .header {width: 100vw;}
  .subheader {width: 100vw;}
}*/

@media only screen and (min-width: 768px)
{
  //.header {width: 100vw;}
  //.subheader {width: 100vw;}
  .sidebar {display: none;}
  .TextBox-lv2 {margin: auto;}
}
@media only screen and (min-width: 992px)
{
  .header {width: 100vw;}
  .subheader {width: 100vw;}
  .sidebar {display: none;}
  .TextBox-lv2 {margin: auto;}
}
@media only screen and (min-width: 1200px)
{
  .header {width: 100vw;}
  .subheader {width: 100vw;}
  .sidebar {display: none;}
  .TextBox-lv2 {margin: auto;}
}
